################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/csTest01/obj
/csTest01/bin/Debug
/.vs/csTest01/v16
